-# "!!! 5" - на клиенте не генерирует <!DOCTYPE html>
-# Поэтому в вёрстке делаем так:
<!DOCTYPE html>
%html
  %head
    +include './app/shared/_head.haml'
  %body.adm-body
    +include './app/shared/_topbar.haml'

    / Layout
    .adm-layout
      +include './app/shared/_layout_sidebar.haml'

      - order_states = {new: {slug: 'new', title: 'Новый'}, delivery: {slug: 'delivery', title: 'Доставка'}, cancelled: {slug: 'cancelled', title: 'Отменён'}, paused: {slug: 'paused', title: 'Пауза'}}

      / Layout Main
      .adm-layout-main
        .adm-layout-main-inner
          / Section Header
          %header.adm-section-header
            %h1.adm-section-header-title Дешборд
          / end Section Header
          / Dashboard
          %section.adm-dashboard
            %ul.adm-dashboard-list
              %li.adm-dashboard-item.__done>
                %i.adm-dashboard-item-icon
                %p
                  %strong Зарегистрируйтесь
                  %br и ответьте на несколько вопросов
              %li.adm-dashboard-item>
                %a.adm-dashboard-item-link{href: '#todo', title: 'Добавьте товары, вручную или через инструменты импорта'}
                  %i.adm-dashboard-item-icon
                  %p
                    %strong Добавьте товары,
                    %br вручную или через инструменты импорта
              %li.adm-dashboard-item>
                %a.adm-dashboard-item-link{href: '#todo', title: 'Подключите доставку. вручную или через инструменты импорта'}
                  %i.adm-dashboard-item-icon
                  %p
                    %strong Подключите доставку.
                    %br Мы сделали все возможное, чтобы доставка стала легким делом
              %li.adm-dashboard-item>
                %a.adm-dashboard-item-link{href: '#todo', title: 'Опубликуйте ссылку в соцсетях!'}
                  %i.adm-dashboard-item-icon
                  %p
                    Опубликуйте ссылку в соцсетях!
              %li.adm-dashboard-item>
                %a.adm-dashboard-item-link{href: '#todo', title: 'Опубликуйте ссылку в соцсетях!'}
                  %i.adm-dashboard-item-icon
                  %p
                    Опубликуйте ссылку в соцсетях!
          / end Dashboard
      / end Layout Main
    / end Layout
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/local.js'}