-# "!!! 5" - на клиенте не генерирует <!DOCTYPE html>
-# Поэтому в вёрстке делаем так:
<!DOCTYPE html>
%html
  %head
    +include './app/shared/_head.haml'
  %body.adm-body
    +include './app/shared/_topbar.haml'

    / Layout
    .adm-layout
      +include './app/shared/_layout_sidebar.haml'

      - order_states = {new: {slug: 'new', title: 'Новый'}, delivery: {slug: 'delivery', title: 'Доставка'}, cancelled: {slug: 'cancelled', title: 'Отменён'}, paused: {slug: 'paused', title: 'Пауза'}}

      / Layout Main
      .adm-layout-main
        .adm-layout-main-inner
          / Dashboard
          %section.adm-dashboard
            %ul.adm-dashboard-list
              %li.adm-dashboard-item>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Заполните основные настройки магазина
                %p.adm-dashboard-item-text
                  Минимальные данные, которые нужны для начала работы.
              %li.adm-dashboard-item>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Загрузите логотип
                %p.adm-dashboard-item-text
                  Желательно, чтобы логотип был на прозрачном фоне, особенно, если вы планируете менять основной фон магазина
              %li.adm-dashboard-item>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Добавьте первые товары
                %p.adm-dashboard-item-text
                  != 'Магазин без товаров выглядит не очень. У нас есть несколько способов добвления: <a href="#" title="вручную">вручную</a>, интеграция с сервисом <a href="#" title="Мой склад">Мой склад</a>, cинхронизация с <a href="#" title="Google Docs">Google Docs</a>.'
              %li.adm-dashboard-item.__soon>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Скоро: быстрая настройка дизайна
                %p.adm-dashboard-item-text
                  Этот пункт специально мы сделали следующим после добавления товаров, так как дизайн удобнее настраивать когда в магазине добавлено хотя бы несколько товаров
              %li.adm-dashboard-item>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Подключите прием платежей
                %p.adm-dashboard-item-text
                  Заполните данные, необходимые для регистрации в платежной системе Wallet One, мы зарегистрируем и активируем ваш аккаунт
              %li.adm-dashboard-item>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Подключите и настройте доставку
                %p.adm-dashboard-item-text
                  Если ваш магазин в Москвы или Санкт-Петербурге, то вы можете подключить курьерскую доставку, которая работает по всей России. Для примера – доставка по Москве от 230 рублей.
              %li.adm-dashboard-item.__done>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Создайте текстовые страницы
                %p.adm-dashboard-item-text
                  Вы наверняка хотите рассказать о своем магазине, историю того как вы появились или создать отдельную страницу с контактами
              %li.adm-dashboard-item>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Выгрузка в Яндекс.Маркет или Вконтакте
                %p.adm-dashboard-item-text
                  Если ваш магазин готов и настроен, вы можете выгрузить ваши товары в яндекс.маркет, чтобы увеличить аудиторию. Еще мы придумали классную штуку: синхронизировать товары с альбомами вконтакте в вашей группе.
              %li.adm-dashboard-item>
                %i.adm-dashboard-item-check
                %h2.adm-dashboard-item-title
                  %a.link-black{href: '#'} Остались вопросы?
                %p.adm-dashboard-item-text
                  != 'Видите значок вопроса в правом нижнем углу? Пишите туда, или прямо на почту <a href="#" title="mailto:support@kiiiosk.ru">support@kiiiosk.ru</a> или звоните 8 (800)'
          / end Dashboard
      / end Layout Main
    / end Layout
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/local.js'}