-# "!!! 5" - на клиенте не генерирует <!DOCTYPE html>
-# Поэтому в вёрстке делаем так:
<!DOCTYPE html>
%html
  %head
    +include './app/shared/_head.haml'
  %body.adm-body.__landing
    / Layout
    .adm-layout
      / Auth
      .adm-auth.__welcome{role: 'auth-box'}
        .adm-auth-buttons
          -#%button.adm-btn-auth-reg{data: {step: 'poll'}, role: 'auth-section-toggle'}<
          -#  Регистрация
          %button.adm-btn-auth-login{data: {step: 'auth-second'}, role: 'auth-section-toggle'}<
            Вход
        %button.adm-btn-auth-back{role: 'auth-back-btn'} Назад
        -#%button.adm-btn-auth-start{data: {step: 'start-poll'}, role: 'auth-section-toggle'}
        %section.adm-auth-section{class: '__welcome'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                .row
                  .col-sm-10.col-sm-offset-1
                    %h1.adm-auth-title != 'Киоск позволяет создать <span class="nobr">интернет-магазин</span> за несколько минут'
                    %button.adm-btn-auth{data: {step: 'start-poll'}, role: 'auth-section-toggle'}
                      Начать
        %section.adm-auth-section{class: '__start-poll'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                .row
                  .col-sm-10.col-sm-offset-1
                    %h1.adm-auth-title != 'Несколько вопросов перед&nbsp;тем, как начать'
                    %button.adm-btn-auth{data: {step: 'q1'}, role: 'auth-section-toggle'}
                      Дальше
        %section.adm-auth-section{class: '__q1'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  .adm-auth-step
                    .adm-auth-step-head<
                      Вопрос 1 из 6
                    .adm-auth-step-desc<
                      Мы спрашиваем название, чтобы присвоить вам url, чуть позже вы сможете его поменять или привязать магазин к своему домену
                  .row
                    .col-sm-10.col-sm-offset-1
                      %h1.adm-auth-title != 'Как называется ваш магазин?'
                      .row
                        .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                          .form-group
                            %input.form-control{id: 'auth-shop-name', type: 'text', placeholder: 'Например, Crate&Barrel'}
                          .adm-auth-form-actions
                            %button.adm-btn-auth{type: 'button', data: {step: 'q2'}, role: 'auth-section-toggle'}
                              Дальше
        %section.adm-auth-section{class: '__q2'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  .adm-auth-step
                    .adm-auth-step-head<
                      Вопрос 2 из 6
                    .adm-auth-step-desc<
                      Выбрать категорию необходимо для того, чтобы в дальнейшем было проще подключиться к платежной системе
                  .row
                    .col-sm-10.col-sm-offset-1
                      %h1.adm-auth-title != 'Что вы продаете?'
                      .row
                        .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                          .form-group
                            %select.form-control{id: 'auth-type-of-goods', type: 'text'}
                              %option{value: 'clothes'} Одежда
                              %option{value: 'shoes'} Обувь
                              %option{value: 'jewellery'} Украшения
                              %option{value: 'electronics'} Электроника
                              %option{value: 'cosmetics'} Косметика
                              %option{value: 'accessories'} Аксессуары
                              %option{value: 'for-children'} Товары для детей
                              %option{value: 'food'} Пища
                              %option{value: 'other'} Что-то другое
                          .adm-auth-form-actions
                            %button.adm-btn-auth{type: 'button', data: {step: 'q3'}, role: 'auth-section-toggle'}
                              Дальше
        %section.adm-auth-section{class: '__q3'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  .adm-auth-step
                    .adm-auth-step-head<
                      Вопрос 3 из 6
                    .adm-auth-step-desc<
                      Количество заказов важно знать для того, чтобы лучше понимать потребности магазина. Мы спрашиваем среднее количество заказов
                  .row
                    .col-sm-10.col-sm-offset-1
                      %h1.adm-auth-title != 'Сколько у вас заказов в день?'
                      .row
                        .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                          .form-group
                            %select.form-control{id: 'auth-number-of-orders', type: 'text'}
                              %option{value: '1-3'} 1-3
                              %option{value: '3-5'} 3-5
                              %option{value: '5-10'} 5-10
                              %option{value: 'more-10'} Больше 10
                          .adm-auth-form-actions
                            %button.adm-btn-auth{type: 'button', data: {step: 'q4'}, role: 'auth-section-toggle'}
                              Дальше
        %section.adm-auth-section{class: '__q4'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  .adm-auth-step
                    .adm-auth-step-head<
                      Вопрос 4 из 6
                    .adm-auth-step-desc<
                      Если у вас еще нет оборота, то пишите, что его нет, все равно тариф будет определяться по фактическому обороту
                  .row
                    .col-sm-10.col-sm-offset-1
                      %h1.adm-auth-title != 'Ваш оборот в месяц'
                      .row
                        .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                          .form-group
                            %select.form-control{id: 'auth-number-of-orders', type: 'text'}
                              %option{value: 'none'} Нет
                              %option{value: 'до 10 тысяч рублей'} до 10 тысяч рублей
                              %option{value: '10-50 тысяч рублей'} 10-50 тысяч рублей
                              %option{value: '50-150 тысяч рублей'} 50-150 тысяч рублей
                              %option{value: '150-500 тысяч рублей'} 150-500 тысяч рублей
                              %option{value: 'больше 500 тысяч'} Больше 500 тысяч
                          .adm-auth-form-actions
                            %button.adm-btn-auth{type: 'button', data: {step: 'q5'}, role: 'auth-section-toggle'}
                              Дальше
        %section.adm-auth-section{class: '__q5'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  .adm-auth-step
                    .adm-auth-step-head<
                      Вопрос 5 из 6
                    .adm-auth-step-desc<
                      Буквально 5-6 слов – это информация, которую мы напишем в шапке магазина
                  .row
                    .col-sm-10.col-sm-offset-1
                      %h1.adm-auth-title != 'Кратко о магазине'
                      .row
                        .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                          .form-group
                            %textarea.form-control{placeholder: 'Например, интернет-магазин городских велосипедов'}
                          .adm-auth-form-actions
                            %button.adm-btn-auth{type: 'button', data: {step: 'q6'}, role: 'auth-section-toggle'}
                              Дальше
        %section.adm-auth-section{class: '__q6'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  .adm-auth-step
                    .adm-auth-step-head<
                      Вопрос 6 из 6
                    .adm-auth-step-desc<
                      Физическое лицо не заключает договор, но при этом имеет ограничения в обороте – 600 тысяч рублей. ИП или ООО ограничений не имеет, меньший процент за прием платежей, но надо собрать документы и оформить договор
                  .row
                    .col-sm-10.col-sm-offset-1
                      %h1.adm-auth-title != 'Тип аккаунта'
                      .row
                        .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                          .form-group
                            %select.form-control{id: 'auth-account-type', type: 'text'}
                              %option{value: 'ИП'} ИП
                              %option{value: 'ООО'} ООО
                              %option{value: 'физическое лицо'} физическое лицо
                          .adm-auth-form-actions
                            %button.adm-btn-auth{type: 'button', data: {step: 'auth-first'}, role: 'auth-section-toggle'}
                              Дальше
        %section.adm-auth-section{class: '__auth-first'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  .adm-auth-step
                    .adm-auth-step-desc<
                      Авторизация по номеру телефона – это просто и безопасно
                  %h1.adm-auth-title != 'Авторизация'
                  .row
                    .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                      .form-group
                        %label.control-label{for: 'auth-phone-number'}<
                          Номер телефона
                        %input.form-control{id: 'auth-phone-number', type: 'text', value: '+7'}
                      .adm-auth-form-actions
                        %button.adm-btn-auth{type: 'button', data: {step: 'auth-second'}, role: 'auth-section-toggle'}<
                          Выслать пин-код
        %section.adm-auth-section{class: '__auth-second'}
          .adm-grid-full
            .adm-grid-full-middle
              .container
                %form{action: '?'}
                  %h1.adm-auth-title != 'Авторизация'
                  .row
                    .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
                      .form-group.has-error
                        %label.control-label{for: 'auth-phone-number-confirm'}<
                          Номер телефона
                        %input.form-control{id: 'auth-phone-number-confirm', type: 'text', value: '+7'}
                      .form-group.has-error
                        %label.control-label{for: 'auth-pin-code'}<
                          Номер телефона
                        %input.form-control{id: 'auth-pin-code', type: 'text', placeholder: 'Пин-код'}
                      .adm-auth-form-actions
                        %button.adm-btn-auth<
                          Войти
          / end Auth
    / end Layout
    %script{src: 'scripts/vendor.js'}
    %script{src: 'scripts/client.js'}