-# "!!! 5" - на клиенте не генерирует <!DOCTYPE html>
-# Поэтому в вёрстке делаем так:
<!DOCTYPE html>
%html
  %head
    +include './app/shared/_head.haml'
  %body.adm-body
    %script{src: 'scripts/bundle.js'}

    / Layout
    .adm-layout
      +include './app/shared/_layout_sidebar.haml'

      - order_states = {new: {slug: 'new', title: 'Новый'}, delivery: {slug: 'delivery', title: 'Доставка'}, cancelled: {slug: 'cancelled', title: 'Отменён'}, paused: {slug: 'paused', title: 'Пауза'}}

      / Layout Main
      .adm-layout-main
        .adm-layout-main-inner
          / Categories
          .adm-categories
            %header.adm-categories-header
              .adm-categories-header-row
                .adm-categories-header-col
                  %h1.adm-categories-header-title Категории
                  .adm-dropdown
                    %button.adm-btn-categories-settings{data: {toggle: "dropdown"}}
                      %i.adm-btn-categories-settings-icon
                      %span.sr-only Настройки категорий
                    .adm-dropdown-popup.__right
                      %ul.adm-dropdown-popup-list
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Скрыть категории', role: 'switch-display-categories', data: {'title-hide': 'Скрыть категории', 'title-show': 'Показать категории'}} Скрыть категории
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Подкатегории включены'} Подкатегории включены
                        %li.adm-dropdown-popup-item.__active
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Настроить выгрузку'} Настроить выгрузку
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Другие настройки товаров'} Другие настройки товаров
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Еще настройки'} Еще настройки

                .adm-categories-header-col.__right
                  %form.adm-categories-search-form{action: '?'}
                    %input.adm-categories-search-field.form-control{type: 'text', placeholder: 'Поиск по товарам'}
            .adm-categories-body
              %div(data-react-class="OperatorCategories")
          / end Categories
      / end Layout Main
    / end Layout
