-# "!!! 5" - на клиенте не генерирует <!DOCTYPE html>
-# Поэтому в вёрстке делаем так:
<!DOCTYPE html>
%html
  %head
    +include './app/shared/_head.haml'
  %body.adm-body
    %script{src: 'scripts/bundle.js'}

    +include './app/shared/_topbar.haml'

    / Layout
    .adm-layout
      +include './app/shared/_layout_sidebar.haml'

      - filter_product_states = {new: {slug: 'published', title: 'Опубликованные'}, delivery: {slug: 'unpublished', title: 'В подготовке'}, cancelled: {slug: 'has_errors', title: 'С ошибками'}, paused: {slug: 'archive', title: 'Архив'}}

      / Layout Main
      .adm-layout-main
        .adm-layout-main-inner
          / Categories
          .adm-categories
            %header.adm-categories-header
              .adm-categories-header-row
                .adm-categories-header-col
                  %h1.adm-categories-header-title Категории
                  .adm-dropdown
                    %button.adm-btn-categories-settings{data: {toggle: "dropdown"}}
                      %i.adm-btn-categories-settings-icon
                      %span.sr-only Настройки категорий
                    .adm-dropdown-popup.__right
                      %ul.adm-dropdown-popup-list
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Скрыть категории', role: 'switch-display-categories', data: {'title-hide': 'Скрыть категории', 'title-show': 'Показать категории'}} Скрыть категории
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Подкатегории включены'} Подкатегории включены
                        %li.adm-dropdown-popup-item.__active
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Настроить выгрузку'} Настроить выгрузку
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Другие настройки товаров'} Другие настройки товаров
                        %li.adm-dropdown-popup-item
                          %a.adm-dropdown-popup-link{href: '#todo', title: 'Еще настройки'} Еще настройки

                .adm-categories-header-col.__right
                  %form.adm-categories-search-form{action: '?'}
                    %input.adm-categories-search-field.form-control{type: 'text', placeholder: 'Поиск по товарам'}
                  .adm-dropdown
                    %a.label.label-product-published{href: '#todo', data: {toggle: 'dropdown'}} Опубликованные
                    %ul.adm-dropdown-menu-status
                      - for filter_product_state of filter_product_states
                        - filter_product_state = filter_product_states[filter_product_state]
                        %li.adm-dropdown-menu-status-item
                          %a.adm-dropdown-menu-status-btn{class: "__#{filter_product_state.slug}"}
                            = "#{filter_product_state.title}"
            .adm-categories-body
              .adm-categories-grid
                .adm-categories-grid-col{role: 'categories-list'}
                  .adm-categories-list
                    .adm-categories-item{class: 'selected'}
                      %span.adm-categories-item-name Все товары
                      %span.adm-categories-item-counter 353
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item{class: '__edit'}
                      %input.adm-categories-item-field{type: 'text', :value => "Велозапчасти"}
                      %span.adm-categories-item-remove
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Все товары
                      %span.adm-categories-item-counter 353
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item{class: '__edit'}
                      %input.adm-categories-item-field{type: 'text', placeholder: 'Новая категория'}
                    .adm-categories-item{class: '__muted'}
                      %span.adm-categories-item-name Без категории
                      %span.adm-categories-item-counter 21
                .adm-categories-grid-col{role: 'categories-list'}
                  .adm-categories-list
                    .adm-categories-item
                      %span.adm-categories-item-name Все товары
                      %span.adm-categories-item-counter
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Городские
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item{class: 'selected'}
                      %span.adm-categories-item-name Складные
                      %span.adm-categories-item-counter 10
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Триатлон
                      %span.adm-categories-item-counter 54
                      %button.adm-btn-edit-category{title: 'Редактировать'}
                        %span
                          Редактировать
                    .adm-categories-item{class: '__edit'}
                      %input.adm-categories-item-field{type: 'text', :placeholder => "Новая подкатегория"}
                    .adm-categories-item{class: '__muted'}
                      %span.adm-categories-item-name Без подкатегории
                      %span.adm-categories-item-counter 21
                .adm-categories-grid-col.__wide
                  .adm-categories-content
                    %table.adm-categories-goods
                      %thead
                        %tr
                          %td{:colspan => 2} Товар
                          %td.adm-categories-goods-price Цена
                          %td.adm-categories-goods-status Статус
                      %tbody
                        %tr{data: {modal-url: "modal-edit-product.html"}, "ks-modal": true}
                          %td.adm-categories-goods-cover{data: {title: "Товар"}, role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Мыльница с якорем"}
                            %img{:src => "assets/product-50x50-1.jpg", :alt => "Мыльница с якорем"}
                          %td.adm-categories-goods-content{role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Мыльница с якорем"}
                            Мыльница с якорем
                          %td.adm-categories-goods-price{data: {title: "Сумма"}, role: "modal-edit-product-toggle"}
                            %span.nobr 18 000 руб
                          %td.adm-categories-goods-status{data: {title: "Статус"}, role: "modal-edit-product-toggle"}
                            %span.label.label-success
                              Опубликован
                        %tr{data: {modal-url: "modal-edit-product.html"}, "ks-modal": true}
                          %td.adm-categories-goods-cover{data: {title: "Товар"}, role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            %img{:src => "assets/product-50x50-2.jpg", :alt => "Табуретка"}
                          %td.adm-categories-goods-content{role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            Табуретка
                          %td.adm-categories-goods-price{data: {title: "Сумма"}, role: "modal-edit-product-toggle"}
                            %span.nobr 3 999 руб
                          %td.adm-categories-goods-status{data: {title: "Статус"}, role: "modal-edit-product-toggle"}
                            %span.label.label-success
                              Опубликован
                        %tr{data: {modal-url: "modal-edit-product.html"}, "ks-modal": true}
                          %td.adm-categories-goods-cover{data: {title: "Товар"}, role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            %img{:src => "assets/product-50x50-2.jpg", :alt => "Табуретка"}
                          %td.adm-categories-goods-content{role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            Табуретка
                          %td.adm-categories-goods-price{data: {title: "Сумма"}, role: "modal-edit-product-toggle"}
                            %span.nobr 5 999 руб
                          %td.adm-categories-goods-status{data: {title: "Статус"}, role: "modal-edit-product-toggle"}
                            %span.label.label-warning
                              Закончился
                    %button.adm-btn-add-goods
                      %i.adm-btn-add-goods-icon
                      Добавить новый товар
          / end Categories
      / end Layout Main
    / end Layout
