-# "!!! 5" - на клиенте не генерирует <!DOCTYPE html>
-# Поэтому в вёрстке делаем так:
<!DOCTYPE html>
%html
  %head
    @@include('./shared/_head.haml')
  %body.adm-body
    %script{src: 'scripts/bundle.js'}

    / Layout
    .adm-layout
      / Layout Sidebar
      .adm-layout-sidebar
        / Sidebar Nav
        %nav.adm-sidebar-nav
          %ul.adm-sidebar-nav-list
            - links = [{slug: 'shop', icon: 'adm-sidebar-nav-icon adm-icon-panel', title: 'Магазин Wannabe', href: '#todo'}, {slug: 'info', icon: 'adm-sidebar-nav-icon adm-icon-question-mark', title: 'Что делать?', href: '#todo'}, {slug: 'products', icon: 'adm-sidebar-nav-icon adm-icon-layers', title: 'Товары', href: 'products.html'}, {slug: 'categories', icon: 'adm-sidebar-nav-icon adm-icon-folder', title: 'Категории', href: 'adm-categories.html'}, {slug: 'orders', icon: 'adm-sidebar-nav-icon adm-icon-basket', title: 'Заказы', href: 'adm-orders-list.html'}, {slug: 'settings', icon: 'adm-sidebar-nav-icon adm-icon-cogwheel', title: 'Настройки', href: '#todo'}]
            - for l of links
              - l = links[l]
              - li_class = ''
              - if l.slug == 'categories'
                - li_class = 'selected'
              %li.adm-sidebar-nav-item{class: "#{li_class}"}
                %a.adm-sidebar-nav-link{href: "#{l.href}"}
                  %i{class: "#{l.icon}"}>
                  = l.title
              - if l.slug == 'shop'
                %li.adm-sidebar-nav-sep
        / end Sidebar Nav
      / end Layout Sidebar

      - order_states = {new: {slug: 'new', title: 'Новый'}, delivery: {slug: 'delivery', title: 'Доставка'}, cancelled: {slug: 'cancelled', title: 'Отменён'}, paused: {slug: 'paused', title: 'Пауза'}}

      / Layout Main
      .adm-layout-main
        .adm-layout-main-inner
          / Section Header
          %header.adm-section-header
            %h1.adm-section-header-title Категории
          / end Section Header
          / Categories
          .adm-categories-container
            .adm-categories
              .adm-categories-grid
                .adm-categories-grid-col
                  .adm-categories-list
                    .adm-categories-item{:class => 'selected'}
                      %span.adm-categories-item-name Все товары
                      %span.adm-categories-item-counter 353
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item{:class => "__edit"}
                      %input.adm-categories-item-field{:type => "text", :value => "Велозапчасти"}
                      %span.adm-categories-item-remove
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Все товары
                      %span.adm-categories-item-counter 353
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Велосипеды
                      %span.adm-categories-item-counter 45
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Компоненты
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Распродажа
                      %span.adm-categories-item-counter 21
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item{:class => "__edit"}
                      %input.adm-categories-item-field{:type => "text", :placeholder => "Новая категория"}
                  .adm-categories-actions
                    %button.adm-btn-add-category
                      %i.adm-btn-add-category-icon
                      Добавить
                .adm-categories-grid-col
                  .adm-categories-list
                    .adm-categories-item
                      %span.adm-categories-item-name Все товары
                      %span.adm-categories-item-counter
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Городские
                      %span.adm-categories-item-counter 5
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item{:class => 'selected'}
                      %span.adm-categories-item-name Складные
                      %span.adm-categories-item-counter 10
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                    .adm-categories-item
                      %span.adm-categories-item-name Триатлон
                      %span.adm-categories-item-counter 54
                      %button.adm-btn-edit-category{:title => "Редактировать"}
                        %span
                          Редактировать
                  .adm-categories-actions
                    %button.adm-btn-add-category
                      %i.adm-btn-add-category-icon
                      Добавить
                .adm-categories-grid-col.__wide
                  .adm-categories-content
                    %table.adm-categories-goods
                      %thead
                        %tr
                          %td{:colspan => 2} Товар
                          %td.adm-categories-goods-price Цена
                          %td.adm-categories-goods-status Статус
                      %tbody
                        %tr
                          %td.adm-categories-goods-cover{data: {title: "Товар"}, role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Мыльница с якорем"}
                            %img{:src => "assets/product-50x50-1.jpg", :alt => "Мыльница с якорем"}
                          %td.adm-categories-goods-content{role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Мыльница с якорем"}
                            Мыльница с якорем
                          %td.adm-categories-goods-price{data: {title: "Сумма"}, role: "modal-edit-product-toggle"}
                            %span.nobr 18 000 руб
                          %td.adm-categories-goods-status{data: {title: "Статус"}, role: "modal-edit-product-toggle"}
                            %span.label.label-success
                              Опубликован
                        %tr
                          %td.adm-categories-goods-cover{data: {title: "Товар"}, role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            %img{:src => "assets/product-50x50-2.jpg", :alt => "Табуретка"}
                          %td.adm-categories-goods-content{role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            Табуретка
                          %td.adm-categories-goods-price{data: {title: "Сумма"}, role: "modal-edit-product-toggle"}
                            %span.nobr 3 999 руб
                          %td.adm-categories-goods-status{data: {title: "Статус"}, role: "modal-edit-product-toggle"}
                            %span.label.label-success
                              Опубликован
                        %tr
                          %td.adm-categories-goods-cover{data: {title: "Товар"}, role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            %img{:src => "assets/product-50x50-2.jpg", :alt => "Табуретка"}
                          %td.adm-categories-goods-content{role: "modal-edit-product-toggle"}
                            /%a{:href => "#product", :title => "Табуретка"}
                            Табуретка
                          %td.adm-categories-goods-price{data: {title: "Сумма"}, role: "modal-edit-product-toggle"}
                            %span.nobr 5 999 руб
                          %td.adm-categories-goods-status{data: {title: "Статус"}, role: "modal-edit-product-toggle"}
                            %span.label.label-warning
                              Закончился
                    %button.adm-btn-add-goods
                      %i.adm-btn-add-goods-icon
                      Добавить новый товар
          / end Categories
      / end Layout Main
    / end Layout

    / Modal Edit Product
    .modal.modal-edit-product.fade{"aria-hidden" => "true", "aria-labelledby" => "mySmallModalLabel", :role => "modal-edit-product", :tabindex => "-1"}
      .modal-dialog.modal-lg
        .modal-content{role: 'modal-content'}
          .modal-body
            .adm-form-item
              %form.simple_form.products__new-form
                %header.adm-form-item-header
                  .row
                    .col-md-4
                      %h1.adm-section-header-title Добавить товар
                    .col-md-8
                      %label.toggle__block{role: 'product-toggle'}
                        .toggle__block-label-checked.pull-left
                          Товар на сайте
                        .toggle__block-box.pull-left
                          %input.toggle__block-checkbox{type: 'checkbox'}
                          .toggle__block-switch
                          .toggle__block-track

                        .toggle__block-label-unchecked.pull-left
                          Скрыть товар
                        .clearfix
                  %hr
                .row
                  .col-md-10
                    .form-alert.form-alert-danger
                      Невозможно опубликовать товар. Проверьте поля, выделенные красным
                    .form-group
                      %label Фотографии
                      .products__new-form-images-list.__small
                        .products__new-form-image-thumb-block
                          .products__new-form-image-thumb-empty
                          .products__new-form-image-thumb-add
                        .products__new-form-image-thumb-block
                          %img.products__new-form-image-thumb{src: "assets/product-2-square.png", alt: ""}
                          .products__new-form-image-thumb-remove
                          .products__new-form-image-thumb-update
                        .products__new-form-image-thumb-block
                          %img.products__new-form-image-thumb{src: "assets/product-2-square.png", alt: ""}
                          .products__new-form-image-thumb-remove
                          .products__new-form-image-thumb-update
                    .form-group
                      %label Название товара
                      %textarea.form-control.form-control-text-large{placeholder: 'Например, велосипед городской'}
                    .row
                      .col-sm-6
                        .form-group
                          %label Бренд
                          %input.form-control{type: "text", placeholder: 'Бренд'}
                      .col-sm-6
                        .form-group
                          %label Цена
                          %input.form-control{type: "text", placeholder: '20 000'}
                      .col-sm-6
                        .form-group
                          %label Категория
                          %div( data-react-class="SuperSelect" data-react-props='{"name": "category_name", "value": "Кефир", "options":["Молоко", "Морепродукты", "Мопеды", "Брилианты", "Категория 2"]}')
                      .col-sm-6
                        .form-group
                          %label Подкатегория
                          %div( data-react-class="SuperSelect" data-react-props='{"name": "category_name", "value": "Кефир", "options":["Молоко", "Морепродукты", "Мопеды", "Брилианты", "Категория 2"]}')
                    .form-group
                      %label Варианты товара
                      .form-block-group
                        .form-group
                          %a.products__new-form-variant-type-btn.active{role: 'products__new-form-variant-type-btn'} Размер
                          %a.products__new-form-variant-type-btn{role: 'products__new-form-variant-type-btn'} Цвет
                          %input.products__new-form-custom-variant-input{type: "text", placeholder: 'Другое', role: 'products__new-form-variant-type-input'}
                        .row
                          .col-md-11
                            .row.row-block-padding
                              .col-sm-4.hidden-xs
                                %label{role: 'products__new-form-variant-type-label'} Размер
                              .col-sm-4.hidden-xs
                                %label Количество
                              .col-sm-4.hidden-xs
                                %label Артикул

                        .row{role: 'products__new-form-variants-item'}
                          .col-md-12
                          .col-md-11
                            .row.row-block-padding
                              .col-sm-4
                                %label.hidden-sm.hidden-md.hidden-lg Размер
                                %input.form-control{type: "text", placeholder: 'Например, XL'}
                              .col-sm-4
                                %label.hidden-sm.hidden-md.hidden-lg Количество
                                %input.form-control{type: "text", placeholder: 'Например, 5'}
                              .col-sm-4
                                %label.hidden-sm.hidden-md.hidden-lg Артикул
                                %input.form-control{type: "text", placeholder: 'Например, M001-11-00'}
                            %br
                          .col-md-1
                            %a.products__new-form-remove-variant-btn.pull-right
                            .clearfix
                        .row{role: 'products__new-form-variants-place'}

                        .form-group
                          -#input.btn.form-control{type: "text", placeholder: 'Добавить размеры и цвета'}
                          .btn-add-fields{role: 'products__new-form-variants-add'}
                            Добавить ещё

                    .form-group.text
                      %label
                        Описание
                      %textarea.form-control{:placeholder => "Описание", :required => "required", :role => "autosize"}

                    .form-group
                      %label Характеристики
                      .row
                        .col-sm-6
                          .form-group-sm
                            %input.form-control{type: "text", placeholder: 'Например, вес'}
                        .col-sm-6
                          .row-gutter-dash.text-muted
                            &mdash;
                          .form-group-sm
                            %input.form-control{type: "text", placeholder: '11 грамм'}
                      .row
                        .col-sm-6
                          .form-group-sm
                            %input.form-control{type: "text", placeholder: 'Например, вес'}
                        .col-sm-6
                          .row-gutter-dash.text-muted
                            &mdash;
                          .form-group-sm
                            %input.form-control{type: "text", placeholder: '11 грамм'}
                %footer.adm-form-item-footer
                  %button.adm-btn-submit{"data-disable-with" => "Сохраняем...", :type => "submit"}
                    Сохранить
                  %button.adm-btn-remove
                    Удалить товар навсегда
      / end Modal Edit Product