!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body
    .navbar-transparent
      .container
        .login__navbar-logo-block
          .login__navbar-logo
    .login__content.login__content--fullscreen
      .login__block
        -#.alert.alert-danger
        .login__form
          - pages = ['signup.html', 'login.html', 'reset_password.html', 'orders.html']
          - for page of pages
            - page = pages[page]
            %h3
              %a{href: "#{page}"}
                = page

