!!! 5
%html
  %head
    @@include('./shared/_head.haml')
  %body

    .navbar-transparent
      .container
        .login__navbar-logo-block
          %a.login__navbar-logo{href: 'index.html'}
    .login__content.login__content--fullscreen
      .login__block
        .alert.alert-danger
          %a.close &times;
          Неправильный номер телефона или пин-код
        %form.login__form{action: 'orders.html'}
          .login__form-header Авторизация
          %input.login__form-input.login__form-input--error{:placeholder => "Номер телефона", :required => "", :type => "tel"}
          %input.login__form-input{:placeholder => "Пин-код", :required => "", :type => "password"}
          .login__form-actions
            %button.login__form-submit-btn Войти
        .row
          .col-sm-6
            %p.color-text-light
              Нет аккаунта?
              %br
              %a{href: 'signup.html'}
                %strong Создать магазин
          .col-sm-6
            %p.color-text-light
              Забыли пин-код?
              %a{href: 'reset_password.html'}
                %strong Восстановить

