.label
  @include inline-valign-middle
  @extend %font-regular
  padding: .385em .923em
  font-size: $font-size-small
  line-height: $line-height-base
  color: $label-color !important
  border-radius: $border-radius-base
  text-decoration: none !important

a.label
  cursor: pointer

.label-waiting
  @include label-variant($label-waiting-bg)

// Payment
.label-payment-new
  @include label-variant($label-success-bg)

.label-payment-delivery
  @include label-variant($label-info-bg)

.label-payment-cancelled
  @include label-variant($label-warning-bg)

.label-payment-paused
  @include label-variant($label-warning-bg)

.label-payment-done
  @include label-variant($label-primary-bg)

// Delivery
.label-delivery-new
  @include label-variant($label-default-bg)

.label-delivery-payed
  @include label-variant($label-success-bg)

.label-delivery-cancelled
  @include label-variant($label-warning-bg)

// Product
.label.__any
  @include label-variant($gray)

.label.__published
  @include label-variant($label-success-bg)

.label.__unpublished
  @include label-variant($label-primary-bg)

.label.__has_errors
  @include label-variant($label-warning-bg)

.label.__archive
  @include label-variant($label-waiting-bg)
