.label
  @include inline-valign-middle
  padding: .385em .923em
  font-weight: 400
  font-size: $font-size-small
  line-height: $line-height-base
  color: #fff !important
  border-radius: $border-radius-base
  text-decoration: none !important