.operator-categories__item
  padding: 10px
  margin:
    left: -10px
    right: -10px
  cursor: pointer
  +transition(color 0.2s ease, background 0.2s ease, box-shadow 0.2s ease)
  &:hover
    background-color: $gray-lightest
    color: $link-color-hover
    .operator-categories__item-title,
      &, &:hover
        color: $link-color-hover
  &.ui-sortable-helper
    box-shadow: 0 2px 5px rgba(0, 0, 0, .8)
  &.active
    background-color: $yellow

.operator-categories__item-counter
  font-size: $font-size-smaller
  //+opacity(0.7) - просвечивает через таскаемый элемент. Надо что-то иначе сделать.
  color: $gray-light

.operator-categories__item-edit,
.operator-categories__item-delete,
.operator-categories__item-cancel-edit,
.operator-categories__item-confirm-edit
  display: inline-block
  padding: 0 10px

.operator-categories__item-edit
  margin-left: 10px

.operator-categories__item-delete
  margin-right: 10px

.operator-categories__item-input
  border: 1px
  padding-left: 1px
  width: 60%

.operator-categories-transition-enter
  background-color: $yellow

.operator-categories-transition-enter-active
  +transition(background-color 2.0s ease-in)

.operator-categories-transition-leave
  +opacity(1)
  +transition(opacity 0.2s ease)

.operator-categories-transition-leave.operator-categories-transition-leave-active
  +opacity(0.01)

.operator-categories__item-dropzone
  border-width: 3px
  border-color: $gray
  border-style: dashed
  padding: 8px
  margin:
    left: -10px
    right: -10px
  cursor: pointer
  +transition(color 0.2s ease, background 0.2s ease)

.operator-categories-drag-handle
  cursor: ns-resize
