$products-list-item-image-width: 318px
$products-list-item-height: 380px
$products-form-images-list-padding: 12px

%products__list-item
  margin:
    top: $grid-gutter-width/2
    bottom: $grid-gutter-width/2
  cursor: pointer
  +transition(color 0.2s ease)
  +antialiased

.products__list-item-new
  @extend %products__list-item
  position: relative
  color: #777777

.products__list-item-new-image
  @extend .products__list-item-image
  width: 100%
  border: 1px solid $gray-lighter
  +transition(background 0.2s ease)
  background: #f4f4f4
  //border-radius: 4px
  &:hover
    background: $gray-lightest
  &.active
    border: 8px solid $blue
    padding: 0

.products__list-item-new-label
  position: absolute
  top: 50%
  margin-top: 1em
  left: 0
  //width: $products-list-item-image-width
  width: 100%
  text-align: center
  +breakpoint('phone-landscape')
    display: none

.products__list-item
  @extend %products__list-item
  position: relative
  &:hover
    color: $link-hover-color

.products__list-item-image
  //max-width: 100%
  background:
    repeat: no-repeat
    position: center
    size: cover

.products__list-item-image-empty
  width: 100%

.products__list-item-title
  font-size: 1.2em
  margin:
    top: 0.5em
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden


.products__list-item-notification
  position: absolute
  top: 0
  left: 0
  width: 16px
  height: 16px
  margin:
    top: - (16px/2)
    left: - (16px/2)
  border-radius: 100%
  background-color: $red

.products__new-form-submit-btn
  @extend .btn
  @extend .btn-green
  font-size: $font-size-h2
  padding: 1em
  min-width: 180px
  height: auto
  margin-top: $grid-gutter-width*2
  +antialiased

.products__new-form-remove-btn
  @extend .products__new-form-submit-btn
  background: none
  border: 1px solid $line-color
  color: $red-dark
  &:hover, &:focus
    background-color: $red
    border-color: $red
    color: #fff

.products__new-form-add-categories-btn
  @extend .btn
  @extend .form-control
  margin:
    left: - $grid-gutter-width - 5px
  padding: $block-padding - 1px
  &:hover, &:focus
    border-bottom-color: $yellow
    color: $link-hover-color

.products__new-form-select
  @extend .login__form-select--no-icon
  padding-left: 0

.products__new-form-image-large
  @extend .products__list-item-new
  margin-bottom: $products-form-images-list-padding/2
  +transition(background 0.2s ease)
  &:hover
    .products__list-item-new-image
      background: darken($gray-lightest, 10%)

.products__new-form-image-input
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  opacity: 0
  cursor: pointer
  z-index: $zindex-products-new-form-image-input

.products__new-form-images-list
  @include clearfix
  margin:
    left: - $products-form-images-list-padding/2
    right: - $products-form-images-list-padding/2

.products__new-form-image-thumb-block
  @extend .col-xs-4
  .products__new-form-images-list.__small &
    width: 20%
    .products__new-form-image-thumb-remove
      left: 35%
    .products__new-form-image-thumb-update
      left: 65%
  padding: $products-form-images-list-padding/2
  cursor: pointer
  &:after
    content: ' '
    position: absolute
    z-index: $zindex-products-new-form-image-thumb-block-mask
    @each $s in top, left, right, bottom
      #{$s}: $products-form-images-list-padding/2
    background: none
    +transition(background 0.2s ease)
  &:hover
    &:after
      background-color: rgba($gray-light, 0.4)
    .products__new-form-image-thumb-remove
      display: block
    .products__new-form-image-thumb
      +opacity(0.6)

.products__new-form-image-thumb
  display: block
  position: relative
  max-width: 100%
  border: 1px solid $gray-lighter
  +transition(opacity 0.2s ease)

.products__new-form-image-thumb-preload
  position: absolute
  top: 50%
  left: 50%
  margin-top: -1em
  margin-left: -1em

.products__new-form-image-thumb-empty
  @extend .products__new-form-image-thumb
  padding-bottom: 97%

  &.__dropzone
    border-width: 1px
    border-color: $blue
    border-style: dashed
    cursor: pointer
    +transition(color 0.2s ease, background 0.2s ease)

.products__new-form-image-thumb-remove
  display: none
  position: absolute
  z-index: $zindex-products-new-form-image-thumb-remove
  top: 50%
  left: 30%
  width: 34px
  height: 34px
  margin:
    left: - (34px/2)
    top: - (34px/2)
  border-radius: 100%
  background-color: darken($gray-dark, 7%)
  background:
    repeat: no-repeat
    position: center
    image: url('#{$images-path}/product-thumb-cancel-white.svg')
  cursor: pointer
  +transition(background 0.2s ease)
  &:hover
    background-color: $blue

.products__new-form-image-thumb-update
  @extend .products__new-form-image-thumb-remove
  left: 70%
  background:
    image: url('#{$images-path}/product-thumb-refresh-white.svg')

.products__new-form-image-thumb-add
  @extend .products__new-form-image-thumb-remove
  left: 50% !important
  display: block
  background:
    image: url('#{$images-path}/product-thumb-plus-white.svg')



.products__new-form-remove-params-btn
  display: inline-block
  width: 34px
  height: 34px
  +opacity(0.32)
  background:
    repeat: no-repeat
    position: center
    image: url('#{$images-path}/products-form-icon-remove.svg')
  +transition(opacity 0.2s ease)
  &:hover
    +opacity(1)

.products__new-form-remove-variant-btn
  @extend .products__new-form-remove-params-btn
  margin-top: 7px

.products__new-form-variant-type-btn
  @extend .btn
  @extend .btn-default-light
  @extend .btn-lg
  margin-right: $block-padding - 6px

.products__new-form-custom-variant-input
  @extend .products__new-form-variant-type-btn
  display: inline-block
  width: auto
  text-align: left
  color: $gray-light
  line-height: 0.85em
  +placeholder( $gray-light )
  &:focus
    border-color: $blue
    +box-shadow(inset 0 0 0 2px $blue)

label.toggle__block
  margin: 0

.adm-form-item-header
  .toggle__block
    margin-top: 7px
    float: right

.adm-form-item-footer
  @include clearfix
  .modal &
    width: 100%
    padding:
      top: $grid-gutter-width/2
      right: 0
      bottom: 0
      left: 0
    position: absolute
    top: 100%
    left: 0
  .adm-btn-submit
    float: left
  .adm-btn-remove
    float: right

@media screen and (max-width: $screen-sm-max)
  .row-block-padding
    div[class^=col-]
      margin-bottom: 15px

  .products__new-form-remove-variant-btn
    margin: -20px auto 25px
    float: none !important
    display: block

  .products__new-form
    .toggle__block
      margin-top: 20px
      float: none

  .products__new-form-images-list.__small
    .products__new-form-image-thumb-block
      width: 33.3333%

  .products__new-form-variant-type-btn
    margin-bottom: 10px

  .adm-form-item-footer
    .modal &
      position: static

  .adm-btn-submit,
  .adm-btn-remove
    width: 100%
    margin-top: 10px
    float: none !important
