.table-default
  > tbody
    > tr
      > td
        padding-top: 24px
        padding-bottom: 24px
      > td:first-child
        padding-left: 0
      > td:last-child
        padding-right: 0
      > .border-top-none
        border-top: none
  .price-label,
  .btn-remove-circle
    margin-top: -.3em
  p
    margin-bottom: 5px
  .btn-add-fields
    margin-top: 20px

.table-default
  a
    font-weight: inherit
    color: inherit
    &:hover
      color: $link-hover-color